.Filter {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.Filter__label {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.Filter__input {
    padding: 10px;
    border: 1px solid rgb(143 143 143);
    border-radius: 5px;
}